<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <a href="https://www.facebook.com/">
                    <img src="673128c1a370b26571c55afa9e5f3a76.jpg" alt="logo" class="logo" id = "logo">
                  </a>
            </div>
            <div class="title">
                The Blog NLP
            </div>
            <input type="button" name="Login" value="Login" class="login">
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="name">Article to analyse:</label>
                    <input id="name" type="text" name="input" value="" placeholder="Type in your URL">
                    <input class = "submit" type="submit" name="I_appear_in_req_body" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <a href="https://www.facebook.com/">
                <img src="31c78b3bfb56925881b3334e0d94fa33.png" alt="facebook" class="social">
              </a>
              <a href="https://www.linkedin.com/">
                <img src="0238da026f60d9af9ecc85c7260fa6be.png" alt="LinkedIn" class="social">
              </a>
              <a href="https://www.youtube.com/">
                <img src="43dbed131e0845d519738ccf081bcd2f.jpg" alt="youtube" class = "social">
              </a>
              <a href="https://twitter.com/">
                <img src="d59e71655a5785d9f531392363e78cd6.png" alt="twitter" class = "social">
              </a>

        </footer>
        <script>
            
            if ('serviceWorker' in navigator) {
                
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
        
    </body>
</html>
